@import "tailwindcss";

@font-face {
    font-family: FiraMonoBold;
    src: url("./assets/fonts/FiraMono-Bold.ttf");
}

@font-face {
    font-family: FiraMonoMedium;
    src: url("./assets/fonts/FiraMono-Medium.ttf");
}

@font-face {
    font-family: FiraMonoRegular;
    src: url("./assets/fonts/FiraMono-Regular.ttf");
}

@font-face {
    font-family: InterBold;
    src: url("./assets/fonts/Inter_28pt-Bold.ttf");
}

@font-face {
    font-family: InterExtraBold;
    src: url("./assets/fonts/Inter_28pt-ExtraBold.ttf");
}

@font-face {
    font-family: InterLight;
    src: url("./assets/fonts/Inter_28pt-Light.ttf");
}

@font-face {
    font-family: InterMedium;
    src: url("./assets/fonts/Inter_28pt-Medium.ttf");
}

@font-face {
    font-family: InterRegular;
    src: url("./assets/fonts/Inter_28pt-Regular.ttf");
}

@font-face {
    font-family: InterSemiBold;
    src: url("./assets/fonts/Inter_28pt-SemiBold.ttf");
}

@theme {
    --color-default: #FFF2CB;
    --color-defaultlight: #FFF8E2;
    --color-gbegin: #1D1D19;
    --color-gend: #131313;
    --color-gmid: #181816;
    --color-bar: #11100F;
    --color-barred: #FF7272;
    --color-baryellow: #FFFB80;
    --color-bargreen: #72FF63;
    --color-subgray: #8E8E8E;

    --font-firamonobold:   FiraMonoBold, "monospace";
    --font-firamonomedium: FiraMonoMedium, "monospace";
    --font-firamonoregular:FiraMonoRegular, "monospace";

    --font-interbold:      InterBold, "sans-serif";
    --font-interextrabold: InterExtraBold, "sans-serif";
    --font-interlight:     InterLight, "sans-serif";
    --font-intermedium:    InterMedium, "sans-serif";
    --font-interregular:   InterRegular, "sans-serif";
    --font-intersemibold:  InterSemiBold, "sans-serif";
}

html {@apply overscroll-none;}
